.main {
  width: 100%;
  margin: 0 auto;
  max-width: 784px;
}

.product_section {
  padding: 8px;
}

.product_section .product_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 12px;
}

@media only screen and (max-width: 578px) {
  .product_section .product_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 468px) {
  .product_section .product_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 368px) {
  .product_section .product_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
